@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul onload="getItems" id="all-blogs">
    </ul>
</div>
@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("../js/site.js")"></script>
    @*<script type="text/javascript" src="@Url.Content("/Scripts/AnotherScript.js")"></script>*@
}
